<style media="screen">
  img {
    position: relative;
    top: -4.3px;
  }
</style>
<header class="site-header" role="banner">
<div>

  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <div class="wrapper" style="padding: 0px;">
    {%- assign default_paths = site.pages | map: "path" -%} {%- assign page_paths = site.header_pages | default: default_paths -%}
    <nav class="navbar navbar-light navbar-expand-md ">
      <div class="container-fluid p-0">
        <a class="navbar-brand" href="/" style="align-items: center;">
          <img src="/assets/img/icon.png" alt="icon" height="45px"> {{ site.title | escape }}
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarCollapse">
          <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            {% for item in site.data.navbar %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ item.link }}">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
</header>
