<body>
    <div class="h1 ms-3">
        {{ page.title_prefix }} {{ page.title }}
    </div>
    <div class="container">
      <div class="row">
    
        <div class="col-lg" style="margin: 10px;">
        <img src="/assets/img/event_posters/{{ page.poster_file }}" , width="100%">
        </div>
    
        <div class="col-lg" >
          <div class="btn-group btn-group-lg my-3">
            <button type="button" class="btn btn-outline-primary" onclick="one()" >{{ page.button_1 }}</button>
            <button type="button" class="btn btn-outline-primary" onclick="two()">{{ page.button_2 }}</button>
          </div>
          <div class="d-inline-flex overflow-scroll" id="written" style=" height: 480px;">{{ page.written_1 }}
          </div>  
        </div>
        
        </div>
    </div>
    <script>
    function one() {
      var x = document.getElementById("written");
      x.innerHTML = "{{ page.written_1 }}" ;
    }
    function two() {
      var x = document.getElementById("written");
      x.innerHTML = "{{ page.written_2 }}";
    }
    </script>
    </body>
    