{%- assign social = site.minima.social_links -%}

<div class=" mb-3 social-media-list">
  <div style="display:inline;">
  <a href="https://www.facebook.com/cbsscienceclub/" rel="noopener" target="_blank"><img src="/assets/img/social/fb.png"  width="23px" style="margin-right: 23px; margin-top: 15px;" alt="link to facebook"></a>
  <a href="https://twitter.com/ScienceClubCBS" rel="noopener" target="_blank"><img src="/assets/img/social/x.png"  width="20px" style="margin-right: 23px; margin-top: 15px;" alt="link to x (formerly twitter)" ></a>
  <a href="https://www.youtube.com/channel/UCRy7SYipSK6PNlkjksPWR1w" rel="noopener" target="_blank"><img src="/assets/img/social/yt.png" width="23px" style="margin-right: 23px; margin-top: 15px;" alt="link to youtube"></a>
  <a href="https://www.instagram.com/cbsscienceclub" rel="noopener" target="_blank"><img src="/assets/img/social/instagram.svg" width="20px" style="margin-right: 23px; margin-top: 15px;" alt="link to instagram"></a>
  </div>
</div>

