{%- assign social = site.minima.social_links -%}

<div class=" mb-3 social-media-list">
  <div style="display:inline;">
  <a href="https://www.facebook.com/cbsscienceclub/" rel="noopener" target="_blank"><img src="/assets/img/social/fb.png"  width="23px" hspace="15" alt="link to facebook"></a>
  <a href="https://twitter.com/ScienceClubCBS" rel="noopener" target="_blank"><img src="/assets/img/social/tw.png"  width="23px" hspace="15" alt="link to twitter" ></a>
  <a href="https://www.youtube.com/channel/UCRy7SYipSK6PNlkjksPWR1w" rel="noopener" target="_blank"><img src="/assets/img/social/yt.png" width="23px" hspace="15" alt="link to youtube"></a>
  </div>
</div>
