---
layout: default
---

<h1>Check out our social media!</h1>
<br>
<div style="display:inline; margin-bottom: 15px;">
<a href="https://www.facebook.com/cbsscienceclub/" target="_blank"><img src="/assets/img/social/fb.png" width="47px" hspace="18" vspace="0"></a>
<a href="https://twitter.com/ScienceClubCBS" target="_blank"><img src="/assets/img/social/tw.png" width="47px" hspace="18" vspace="0"></a>
<a href="https://www.youtube.com/channel/UCRy7SYipSK6PNlkjksPWR1w" target="_blank"><img src="/assets/img/social/yt.png" width="47px" hspace="18" vspace="0"></a>
</div>
<br>
<br>
<hr>
<br>
<p>We are a team of students from different years and streams at UM-DAE CEBS, Mumbai. Read more about the club in our <a href="/2021/11/14/why-a-science-club.html">blog</a>.<br><br> If you’d like to collaborate with us or be a part of the team, kindly let us know. Feel free to mail us for any suggestions or queries.</p>
<h2>Contact us via e-mail</h2>
<a class="u-email" href="mailto:science.club@cbs.ac.in">science.club@cbs.ac.in</a>
<br>
<br>
<hr>
<br>
<br>
<div style="display: flex; align-items: center; justify-content: center;">
<iframe scrolling="no" src="https://docs.google.com/forms/d/e/1FAIpQLSc0SrLx8D5mAHFSoKqZ3VeNg3xvuBLXKUQDD90Wc5Q-_WirxQ/viewform?embedded=true" width="700" height="700px" frameborder="0" marginheight="0" marginwidth="0" overflow= "hidden">Loading…</iframe>

</div>
