---
layout: default
---

<div id="banner">
  {% for item in site.data.home.banner %}
  {%if item.active == true %}
  <div class="text-middle container-fluid announcement p-2  rounded-1 text-dark mb-3" style="background-color: #bffcc6 ;">
    <p class="display-6 m-0" id="bannertext" style="text-align: center;"> {{item.text}} <b><a href='{% for post in site.posts limit:1 %} {{ post.url }} {% endfor %}'> here! </a></b></p>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div id="upcoming">
  {% for item in site.data.home.upcoming %}
  {%if item.active == true %}
  <div class="container-fluid">
    <div class="row">
      <div class="display-6 m-0 py-0 px-3">
      <h3 style=" font-size: 0.9em; font-weight: 500;">Upcoming session</h3>
      </div>
      <div class="col-md p-3" style="min-height: 300px;">
        {%if item.iframeactive == true %}
          <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/{{ site.data.home.zero.iframe }}?modestbranding=1" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen style="float: left;"></iframe>
        {% endif %}
      </div>
      <div class="col-md p-3">
        <div>
          <h3 style="margin-bottom: 10px; font-weight: 500;">{{ site.data.home.zero.t1 }}</h3>
          <h5> {{ site.data.home.zero.t2 }} </h5>
        </div>
      </div>
    </div>
  </div>
  <hr style="margin-bottom: 30px; margin-top: 40px;">
  {% endif %}
  {% endfor %}
</div>

<div class="our team">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md p-3" style="text-align:center;">
        <img class='my-2 p-3 pt-0' src="/assets/img/about/about.png" alt="about the club" >
      </div>
      <div class="col-md p-3">
        <div>
          <h3 style="margin-bottom: 10px; font-weight: 500;">About us</h3>
          <p style="text-align: justify;">We are a group of student coming from various years and streams at UM-DAE CEBS. Through our events we try to encourage independent pursuit of knowledge among students, and strengthen the relationship of the community with the world of research.<br><br> Read more in our <a href="/blog">blog</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <hr style="margin:15px;">

</div>


<div id="typesofevents" class="carousel slide" data-bs-ride="carousel" >
  <div class="display-6 mt-4 py-0 px-3 ">
    <h3 style=" font-size: 0.9em; font-weight: 500; text-align: center;">Our Events </h3>
  </div>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#typesofevents" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#typesofevents" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#typesofevents" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#typesofevents" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row mb-4">
        <div class="col-md-2">
        </div>
        <div class="col-md-4 p-3">
          <img src="/assets/img/about/rendezvous.jpg" class="d-block mx-auto mt-4" style="max-height: 400px;" alt="...">
        </div>
        <div class="col-md-4 p-3">
          <div class="mx-auto" style="width: 95%;  height: 400px; max-width: 283px; ">
            <h2 style="margin-bottom: 10px; font-weight: 500; padding-top: 20px;">Rendezvous</h2>
            <h5 style="  text-align: justify; text-justify: inter-word;">In these sessions we invite researchers to talk about a topic of their interest. The idea is to provide students with novel perspectives about not only the concepts being presented but also the subtle aspects of doing research. We encourage students to engage in the discussion and ask questions both during and after the talk.</h5>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row mb-4">
        <div class="col-md-2">
        </div>
        <div class="col-md-4 p-3">
          <img src="/assets/img/about/interactive_session.jpg" class="d-block mx-auto mt-4" style="max-height: 400px;" alt="...">
        </div>
        <div class="col-md-4 p-3">
          <div class="mx-auto" style="width: 95%;  height: 400px; max-width: 283px; ">
            <h2 style="margin-bottom: 10px; font-weight: 500; padding-top: 20px;">Interaction</h2>
            <h5 style="  text-align: justify; text-justify: inter-word;">Here we invite researchers and have free-flowing conversations with them on a variety of topics. For example, we try to understand the problems certain sections of our society are facing and how we can try to solve them. We also talk about their impressions and experiences throughout their journey in academia. </h5>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row mb-4">
        <div class="col-md-2">
        </div>
        <div class="col-md-4 p-3">
          <img src="/assets/img/about/counselling.png" class="d-block mx-auto mt-4" style="max-height: 400px;" alt="...">
        </div>
        <div class="col-md-4 p-3">
          <div class="mx-auto" style="width: 95%;  height: 400px; max-width: 283px; ">
            <h2 style="margin-bottom: 10px; font-weight: 500; padding-top: 20px;">Counselling sessions</h2>
            <h5 style="  text-align: justify; text-justify: inter-word;">In these sessions we invite some of our professors, alumni and students (including prospective students) to talk about the various opportunities presented by the institute, and how the students can best utilize them.</h5>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row mb-4">
        <div class="col-md-2">
        </div>
        <div class="col-md-4 p-3">
          <img src="/assets/img/about/open_mic.jpg" class="d-block mx-auto mt-4" style="max-height: 400px;" alt="...">
        </div>
        <div class="col-md-4 p-3">
          <div class="mx-auto" style="width: 95%;  height: 400px; max-width: 283px; ">
            <h2 style="margin-bottom: 10px; font-weight: 500; padding-top: 20px;">Open Mic</h2>
            <h5 style="font-size: 1.25em; text-align: justify; text-justify: inter-word;">Open Mics provide students with an opportunity to explore their scientific interests and share them with the community. The session begins with 5-6 students briefly introducing a topic of their interest. This is followed by an extended discussion, where the speakers elaborate on their topic with smaller groups of students in greater depth.</h5><br>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#typesofevents" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#typesofevents" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <hr style="margin:15px;">
</div>


<div id="recentevents">
  <div class="display-6 m-0 py-0 px-3">
    <h3 style=" font-size: 0.9em; font-weight: 500; ">Recent Events </h3>
  </div>
  {%- if site.data.home.recent_eventno >= 1 -%}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md p-3" style="min-height: 300px;">
        <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/{{ site.data.home.one.iframe }}?modestbranding=1" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen style="float: left;"></iframe>
      </div>
      <div class="col-md p-3">
        <div>
          <h3 style="margin-bottom: 10px; font-weight: 500;">{{ site.data.home.one.t1 }}</h3>
          <h5> {{ site.data.home.one.t2 }} </h5>
        </div>
      </div>
    </div>
  </div>
  {%- endif -%}
  {%- if site.data.home.recent_eventno >= 2 -%}
  <hr style="margin:15px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md p-3" style="min-height: 300px;">
        <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/{{ site.data.home.two.iframe }}?modestbranding=1" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen style="float: left;"></iframe>
      </div>
      <div class="col-md p-3">
        <div>
          <h3 style="margin-bottom: 10px; font-weight: 500;">{{ site.data.home.two.t1 }}</h3>
          <h5> {{ site.data.home.two.t2 }} </h5>
        </div>
      </div>
    </div>
  </div>
  {%- endif -%}
  {%- if site.data.home.recent_eventno == 3 -%}
  <hr style="margin:15px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md p-3" style="min-height: 300px;">
        <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/{{ site.data.home.three.iframe }}?modestbranding=1" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen style="float: left;"></iframe>
      </div>
      <div class="col-md p-3">
        <div>
          <h3 style="margin-bottom: 10px; font-weight: 500;">{{ site.data.home.three.t1 }}</h3>
          <h5> {{ site.data.home.three.t2 }} </h5>
        </div>
      </div>
    </div>
  </div>
  {%- endif -%}

  <hr style="margin:15px;">
</div>

<div id="about CEBS">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md" style="min-height: 300px; text-align:center;">
        <img class='mt-4' style="height: 85%; max-height: 300px;" src="/assets/img/about/about_cbs.jpeg" alt="about cbs" >
      </div>
      <div class="col-md p-3">
        <div>
          <h3 style="margin-bottom: 10px; font-weight: 500;">About CEBS</h3>
          <p style="text-align: justify; font-size: 0.98em;"> The Centre for Excellence in Basic Sciences (CEBS) is a joint academic venture of the University of Mumbai (UM) and the Department of Atomic Energy (DAE), Government of India. The institute primarily offers 5-year integrated MSc courses in four streams of basic sciences, namely Physics, Chemistry, Biology and Mathematics. <br> Students join the centre through the National Entrance Screening Test (NEST) after completing 10+2 or equivalent level of schooling. All four subjects are taught in the first year, and students can opt the stream of their choice second year onwards. </p>
        </div>
      </div>
    </div>
  </div>


</div>
